@import "../_colors"

.technologies
  height: 600px
  z-index: -101
  position: relative
  background: $bg
  background: $bg-gradient
  &__content
    background: url("../images/wave.png") center 50% no-repeat
    height: 100%
    width: 100%
    transition: 0.9s ease-out
    &_active
      background-position-y: 91%
  .container
    display: flex
    align-items: center
    height: 100%
    justify-content: center
  &__block
    max-width: 400px
    width: 100%
    margin-left: 94px
    margin-bottom: 165px
  &__pc
    margin-left: 30px


@media (max-width: 1023px)
  .technologies
    height: auto
    padding: 40px 0
    .container
      justify-content: space-around
      flex-direction: column
    &__content
      &_active
        background-position-y: 110%
    &__pc
      width: 90%
      margin: 0
      order: 1
      max-width: 400px
      transform: translateX(-6px)
    &__block
      margin-left: 0
      margin-bottom: 25px