section.cooperation#cooperation
	.container
		h3.cooperation__greeting
			img(src='images/hand.png')#hi.animate__animated
			span Привет, меня зовут Илья, и я JavaScript разработчик.
		.cooperation__options
			h3.header { Варианты сотрудничества }
			.cooperation__container
				.cooperation__block
					.cooperation__block__img
						img(src='images/html-layout.png')
					h4.cooperation__block__name Верстка сайтов
					p.text Воплощу фантазии вашего дизайнера в жизнь.
				.cooperation__block
					.cooperation__block__img
						img(src='images/vue-frontend.png')
					h4.cooperation__block__name Фронтенд на Vue
					p.text Реализую SPA/SSR на фреймворке Vue.js и прикручу api.
				.cooperation__block
					.cooperation__block__img
						img(src='images/backend.png')
					h4.cooperation__block__name Разработка на node.js
					p.text Разработаю сервер для веб-приложения, API, парсеры, ботов и многое другое.
