section.skills#skills
	.line-block
		.header { Мои умения }
		.big-text.text-center.text-center Чтобы воплотить в жизнь великие идеи, нужны знания, трудолюбивость и преданность делу
	.skills__content
		.container
			.skills__slider
				.skills__item
					.skills__item__content
						img(src='images/html.png')
						h3.skills__item__name  HTML and CSS
						.progress-bar
							span(style='width: 97%')
						.big-text.text-center Язык для структурирования и <span class='br'></span> представления содержимого всемирной <span class='br'></span> паутины.
				.skills__item
					.skills__item__content
						img(src='images/jquery.svg')
						h3.skills__item__name  jQuery
						.progress-bar
							span(style='width: 90%')
						.big-text.text-center Пишите меньше, делайте больше.
				.skills__item
					.skills__item__content
						img(src='images/es6.png')
						h3.skills__item__name  JavaScript ES6
						.progress-bar
							span(style='width: 88%')
						.big-text.text-center Новые возможности, современный стандарт.
				.skills__item
					.skills__item__content
						img(src='images/vue.png')
						h3.skills__item__name  Vue.js
						.progress-bar
							span(style='width: 80%')
						.big-text.text-center Фреймворк для создания реактивных пользовательских интерфейсов.
				.skills__item
					.skills__item__content
						img(src='images/git.png')
						h3.skills__item__name  Git
						.progress-bar
							span(style='width: 90%')
						.big-text.text-center Система управления версиями. Must have современного разработчика.
				.skills__item
					.skills__item__content
						img(src='images/nuxt.png')
						h3.skills__item__name Nuxt.js
						.progress-bar
							span(style='width: 77%')
						.big-text.text-center Фреймворк для создания SPA/SSR веб-приложений на базе Vue.js
				.skills__item
					.skills__item__content
						img(src='images/node-js.png')
						h3.skills__item__name Node.js
						.progress-bar
							span(style='width: 73%')
						.big-text.text-center Скорость. Простота. Библиотеки.
				.skills__item
					.skills__item__content
						img(src='images/webpack.svg')
						h3.skills__item__name Webpack
						.progress-bar
							span(style='width: 68%')
						.big-text.text-center Сборка модулей.
				.skills__item
					.skills__item__content
						img(src='images/express.png')
						h3.skills__item__name Express.js
						.progress-bar
							span(style='width: 65%')
						.big-text.text-center Гибкий веб-фреймворк для приложений Node.js.
				.skills__item
					.skills__item__content
						img(src='images/mongo.png')
						h3.skills__item__name Mongo DB
						.progress-bar
							span(style='width: 85%')
						.big-text.text-center JSON-подобная база данных.