section.technologies
	.technologies__content
		.container
			img.technologies__pc(src='images/pc.png')
			.technologies__block
				h4.cooperation__block__name Оживлю ваш макет, <span class='br'></span> используя последние технологии
				.text Вы получите адаптивный, кросс-браузерный и быстрый сайт с чистым и читабельным кодом.
